@{ 
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Quality Souvenir</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Nau mai ki Aotearoa</h2>
        <p>
            Auckland is the ideal place to go on a shopping spree. If souvenirs are on top of your must-buy list, New Zealand’s biggest city will give you plenty of interesting trinkets to scour through. Here are a few unique ideas from nine shops you need to know about.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Quality Products and Memories</h2>
        <p>You can buy many products related to maori culture</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the products</a></p>
    </div>
    <div class="col-md-4">
        <h2>Buy it</h2>
        <p>You can buy different maori souvenirs</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet">See the Product</a></p>
    </div>

</div>